form {
    width: 50%;
    margin: auto;
    margin-top: 150px;
}

.form {
    margin-top: 150px;
    margin-bottom: 150px;
}

.form button {
    margin-top: 30px;
}

h2 {
    text-align: center;
}

.table {
    width: 50%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.succes-message {
    margin-top: 30px;
}
